<!-- Generated template for the CreacionAporteComponent component -->
<!--header posiciona el navbar arriba,
    navbar añade el div con la funcionalidad de "atras"-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Comparte tu aporte
    </ion-title>
  </ion-navbar>
</ion-header>
<!--Muestra imagenes tomadas por la camara-->
<ion-content padding>
  <ion-item id="divImages">
      <ion-card>
          <ion-card-content>
            <ion-slides class="image-slider" loop ="true "pager effect="coverflow"><!--slide, fade, cube, coverflow or flip-->
                <ion-slide *ngFor="let img of imagenes" >
                  <img src="{{img}}" class="thumb-img" imageViewer>
                </ion-slide>
            </ion-slides>
          </ion-card-content>
        </ion-card>
        <!--   <button ion-button outline>{{item.name}}</button>  -->
  </ion-item>

  <!--Boton para tomar una foto-->
  <button ion-button block (click)="getPicture()">Toma una foto</button>
  <!--<img [src]="image" *ngIf="image" />-->

  <!--Seleccion de dependencia-->
  <ion-list>
    <!--Seleccion de Material-->
    <ion-item>
      <ion-label>Materia</ion-label>
      <ion-select [(ngModel)]="ngMateria">
        <ion-option *ngFor="let mat of materias" value="{{mat}}">{{mat}}</ion-option>
      </ion-select>
    </ion-item>
    <!--Ingreso de tema de la documentacion-->
    <ion-item>
      <ion-label stacked>Tema:</ion-label>
      <ion-input type="text" [(ngModel)]="ngTema"></ion-input>
    </ion-item>
    <!--Ingreso de descripcion de documentacion-->
    <ion-item>
      <ion-label stacked>Descripción:</ion-label>
      <ion-textarea [(ngModel)]="ngDescripcion"></ion-textarea>
    </ion-item>
    <!-- Envia el aporte a la bd firebase-->
    <button button ion-button block (click)="setAporte()">Compartir aportes</button>

  </ion-list>

</ion-content>
