<!-- Generated template for the ZonaAporteComponent component -->
<!--  -->

<ion-header>
  <!--   <ion-title  text-center >  -->
  <ion-navbar color="primary" >
    <ion-toolbar color="primary">
      <ion-searchbar (input)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
<!--  {{facultad}}
  </ion-title>  -->
</ion-header>

<ion-content>





  <ion-list>
    <ion-item *ngFor="let item of items | async">
        <ion-card>
            <ion-card-content>
              <ion-card-title>
                  {{item.name}}
                </ion-card-title>
                <ion-slides class="image-slider" loop ="true "pager effect="cube">
                    <ion-slide *ngFor="let img of images" >
                      <img src="../../assets/img/{{img}}" class="thumb-img" imageViewer>
                    </ion-slide>
                </ion-slides>
             </ion-card-content>
          </ion-card>
          <!--   <button ion-button outline>{{item.name}}</button>  -->
    </ion-item>
  </ion-list>


</ion-content>

    <ion-fab bottom right>
        <button ion-fab (click)="irCreacionAporte()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

