<!-- Generated template for the ZonaAporteComponent component -->
<!--  -->

<ion-header>

  <ion-navbar color="danger" >
    <ion-toolbar color="danger">
      <ion-searchbar (input)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>


    <ion-item>
        <div text-center >
        <ion-icon name="bookmarks"></ion-icon>
        ESCOGE UNA MATERIA
        <ion-icon name="bookmarks"></ion-icon>
      </div>
    </ion-item>

    <ion-list inset>
    <ion-item *ngFor="let item of items">
          <button ion-button clear  color="dark" (click)="goToAportes(item)" >{{item}}</button>
    </ion-item>
  </ion-list>

</ion-content>

    <ion-fab bottom right>
        <button ion-fab (click)="irCreacionAporte()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>



