<!-- Generated template for the AporteComponent component -->

<ion-header>
  <!--   <ion-title  text-center >  -->
  <ion-navbar color="secondary">
    <ion-toolbar color="secondary">
      <ion-searchbar (input)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <div text-center>
      ZONA DE APORTES
    </div>
  </ion-item>



  <ion-card *ngFor="let aport of aportes" >
    <ion-card-content>
      <ion-slides class="image-slider" loop="true " pager effect="cube" id="divImages">
        <!--slide, fade, cube, coverflow or flip-->
        <ion-slide *ngFor="let foto of aport.foto">
          <img src="{{foto}}" class="thumb-img" imageViewer>
        </ion-slide>
      </ion-slides>

      <ion-card-content>
      <ion-label color="dark" stacked>Tema:</ion-label>
      <div>{{aport.tema}}</div>
      <ion-label color="dark" >Descripción:</ion-label>
      <div>{{aport.descripcion}}</div>
    </ion-card-content>
    </ion-card-content>
</ion-card>


</ion-content>
